body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

#movie-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#random-movies h2 {
    color: #333;
    margin-top: 20px;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 200px;
    text-align: center;
}

.movie img {
    max-width: 100%;
}

.movie h3 {
    font-size: 18px;
    margin: 10px 0;
}

.movie p {
    font-size: 14px;
    color: #666;
    height: 100px; /* Limit the height of the overview text */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis (...) */
}
